@font-face {
    font-family: "FuturaLightC";
    src: url('../fonts/FuturaLightC.ttf');
    font-weight: 300;
}

@font-face {
    font-family: "FuturaBookC";
    src: url('../fonts/FuturaBookC.ttf');
    font-weight: normal;
}

@font-face {
    font-family: "SimSun";
    src: url("../fonts/SimSun.ttf");
    font-weight: normal;
}

@font-face {
    font-family: "YuzuPenP";
    src: url('../fonts/YuzuPenP.ttf');
    font-weight: normal;
}