* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

br {
    font-size: 50px;
    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

a {
    text-decoration: none;
    color: transparent;
}

a:hover {
    text-shadow: currentColor 0 0 15px;
    cursor: pointer;
}

body {
    text-align: center;
    font-family: "FuturaBookC";
    background-color: #252529;
    color: #e5e0e5;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    transition: background-image 2s linear;
    -moz-transition: background-image 2s linear;
    min-height: -webkit-fill-available;
}

#wrapper {
    min-height: -webkit-fill-available;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

#logo {
    font-size: 40px;
    /* box-shadow: #252529a4 0 0 6px 5px;
    background-color: #252529a4; */
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
}

#filters {
    font-size: 20px;
    margin: auto;
    height: 30px;
    width: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    /* box-shadow: #252529a4 0 0 6px 5px;
    background-color: #252529a4; */
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    /* transform: translateY(7px); */
}

.filter {
    cursor: pointer;
    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
}

.filter:hover {
    color: #b8b5b8;
}

#content {
    width: 800px;
    margin: auto;
}

.scrawl {
    font-size: 30px;
    display: flex;
    align-items: center;
    /* box-shadow: #252529a4 0 0 6px 5px;
    background-color: #252529a4; */
    border-radius: 20px;
    padding: 10px;
    margin: 25px 0;
}

.hieroglyph {
    /* font-family: SimSun, NSimSun; */
    /* font-family: "HakusyuKaisyoBold", "YuzuPenP"; */
    font-family: "Iwata-Kaisho";
    font-size: 100px;
    word-wrap: break-word;
    width: 100px;
    padding: 5px;
    text-shadow: currentColor 0 0 0;
}

.inf {
    margin: auto;
}

.desc {
    font-family: "FuturaLightC";
}

#footer {
    font-size: 14px;
    margin: 50px auto 0 auto;
    padding: 0 0 2px 0;
    min-width: 100%;
    /* box-shadow: #252529a4 0 0 6px 5px;
    background-color: #252529a4; */
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

.boxWshadow {
    /* box-shadow: #252529a4 0 0 6px 5px; */
    box-shadow: inset #252529a4 0 0 20px 7px;
    background-color: #252529a4;
    /* border-radius: 20px; */
}