@font-face {
    font-family: 'FuturaDemiC';
    src: url('/public/fonts/FuturaDemiC.ttf');
    font-weight: normal;
}

@font-face {
    font-family: 'FuturaMediumC';
    src: url('/public/fonts/FuturaMediumC.ttf');
    font-weight: 500;
}

@font-face {
    font-family: 'FuturaLightC';
    src: url('/public/fonts/FuturaLightC.ttf');
    font-weight: 300;
}

@font-face {
    font-family: 'FuturaBookC';
    src: url('/public/fonts/FuturaBookC.ttf');
    font-weight: normal;
}