@font-face {
    font-family: 'FuturaDemiC';
    src: url('FuturaDemiC.ttf');
    font-weight: normal;
}

@font-face {
    font-family: 'FuturaMediumC';
    src: url('FuturaMediumC.ttf');
    font-weight: 500;
}

@font-face {
    font-family: 'FuturaLightC';
    src: url('FuturaLightC.ttf');
    font-weight: 300;
}

@font-face {
    font-family: 'FuturaBookC';
    src: url('FuturaBookC.ttf');
    font-weight: normal;
}