.slider {
    position: fixed;
    top: 30%;
    left: 10px;
    min-width: 20px;
    max-width: 60px;
    box-shadow: 0 2px 13px rgba(0, 0, 0, 0.3);
    cursor: -webkit-grab;
    cursor: grab;
    opacity: 0.5;
    transition: opacity 800ms ease-in-out 200ms;
    z-index: 999;
}

.slider:hover {
    opacity: 1;
    transition-delay: 0ms;
}

.slider__size {
    position: relative;
    z-index: 3;
}

.slider__controller {
    width: 100%;
    padding-top: 100%;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    margin: -3px;
    border-radius: 10px;
    border: solid 3px black;
}

.slider__content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
}

/* Presentational Styles */

html {
    font-size: 52.6%;
}

body {
    font: 1.6rem/1.6 sans-serif;
    background: white;
    background-repeat: repeat-x;
    background-size: cover;
    max-width: 100%;
    overflow-x: hidden;
}

.content {
    max-width: 26em;
    padding: 2em;
    margin: auto;
}

p {
    margin: 0 0 2em;
}

img {
    max-width: 100%;
    height: auto;
    margin-bottom: 2em;
}

img {
    display: block;
    position: relative;
    left: -50vw;
    margin-left: 50%;
    width: 100vw;
    max-width: none;
}